<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools"
          package="com.zlzw.login">

    <application
        android:name="com.zlzw.login.debug.LoginApplication"
        android:allowBackup="true"
        android:label="@string/l_app_name"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:label"
        android:theme="@style/vb_app_theme">
        <activity android:name="com.zlzw.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>